body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: lightgray;
}

.title {
    background-color: rgb(0, 77, 0);
    padding: 2px 8px;
    display: inline;
}

.recipes:link {
    color: lightgray;
}

.recipes:visited {
    color: cornflowerblue;
}

.recipes:hover {
    color: lightgreen;
}

.recipes:active {
    color: red;
}